#main .pen_article,
#main .pen_content_wrapper.pen_inside {
	position: relative;
}
#main article.pen_article,
body.pen_multiple #main li.pen_article,
body.pen_list_plain #pen_pager {
	background: #fff;
	color: #333;
}
body.pen_round_corners #main article.pen_article,
body.pen_round_corners.pen_multiple #main li.pen_article {
	border-radius: 10px 10px 5px 5px;
}
body.pen_round_corners #main article.pen_article,
body.pen_round_corners.pen_multiple #main li.pen_article,
body.pen_round_corners.pen_list_header_hide #main article.pen_article,
body.pen_round_corners.pen_multiple.pen_list_header_hide #main li.pen_article,
body.pen_round_corners.pen_content_header_hide #main article.pen_article,
body.pen_round_corners.pen_multiple.pen_content_header_hide #main li.pen_article,
body.pen_round_corners.pen_multiple.pen_list_plain #pen_pager {
	border-radius: 5px;
}
body.pen_drop_shadow #main article.pen_article,
body.pen_drop_shadow.pen_multiple.pen_round_corners #main li.pen_article,
body.pen_drop_shadow.pen_list_header_hide.pen_round_corners #main article.pen_article,
body.pen_drop_shadow.pen_multiple.pen_list_header_hide.pen_round_corners #main li.pen_article,
body.pen_drop_shadow.pen_content_header_hide.pen_round_corners #main article.pen_article,
body.pen_drop_shadow.pen_multiple.pen_content_header_hide.pen_round_corners #main li.pen_article,
body.pen_drop_shadow.pen_multiple.pen_list_plain #pen_pager,
body.pen_drop_shadow #page .pen_options_overview.pen_visible {
	box-shadow: 0 5px 10px rgba(0,0,0,0.25), 0 0 5px rgba(0,0,0,0.25);
}
#main .pen_article {
	float: left;
	margin: 0 0 1rem;
	width: 100%;
}
body.pen_list_masonry #pen_masonry .pen_article {
	margin: 0 0.5% 10px 0.5% !important;
}
body.pen_list_masonry #pen_masonry,
body.pen_list_masonry #pen_masonry .pen_article {
	-webkit-backface-visibility: hidden;
	-webkit-transform: translate3d(0,0,0);
}
#main .pen_article .pen_content h2,
#main .pen_article .pen_content h3,
#main .pen_article .pen_content h4,
#main .pen_article .pen_content h5 {
	margin: 0 0 0.25rem;
	position: relative;
}
#main .pen_article .pen_content h2:first-child:last-child,
#main .pen_article .pen_content h3:first-child:last-child,
#main .pen_article .pen_content h4:first-child:last-child,
#main .pen_article .pen_content h5:first-child:last-child {
	padding-bottom: 0;
}
#main .pen_article .pen_content,
#main .pen_article .pen_summary,
#main .pen_article .pen_content_footer {
	float: left;
	padding: 2rem;
	width: 100%;
}
#main .pen_article .pen_content_footer {
	padding-top: 0;
}
#main .pen_article header {
	background: #dddddd;
	background: -ms-linear-gradient(325deg, #ffffff 0%, #dddddd 100%);
	background: linear-gradient(125deg, #ffffff 0%, #dddddd 100%);
	float: left;
	line-height: 1.2;
	padding: 2rem;
	position: relative;
	width: 100%;
	z-index: 40;
}
body.pen_round_corners #main .pen_article header {
	border-radius: 5px 5px 0 0;
}
#main header.pen_content_header {
	float: left;
	padding: 2rem;
	width: 100%;
}
#main header.pen_content_header.page-header {
	margin: 0 0 1rem;
	padding: 2rem 0;
}
body.pen_content_header_center #main article header,
body.pen_list_post_header_center #main article header {
	text-align: center;
}
#main header .pen_content_title {
	float: left;
	font-size: 2em;
	font-weight: bold;
	margin: 0;
	padding: 0;
}
body.pen_drop_shadow #main header.page-header .pen_content_title {
	text-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}
#main header .pen_content_title,
#main header .entry-meta,
#main header .pen_share {
	position: relative;
	z-index: 2;
}
#main header .pen_content_title a {
	display: inline-block;
}
#main header .pen_content_title b,
#main header .pen_content_title strong {
	font-weight: 800;
}
body.pen_list_header_center #main .pen_article header,
#main .pen_article.pen_list_header_center header,
body.pen_list_title_center #main header h2.pen_content_title,
#main .pen_article.pen_list_title_center header h2.pen_content_title,
body.pen_content_header_center #main .pen_article_wrapper > header,
body.pen_content_title_center #main header h2.pen_content_title {
	text-align: center;
	width: 100%;
}
#main .pen_article header a {
	color: #000;
	text-decoration: none;
}
#main .pen_article header a:focus,
#main .pen_article header a:hover,
#main .pen_article header a:active {
	color: #0087cc;
	outline: none;
	text-decoration: none;
}
#main .pen_article .entry-meta {
	float: left;
	font-size: 0.714em;
	line-height: 0;
	margin: 1rem 0 0;
	opacity: 0.9;
	padding: 0;
	text-transform: uppercase;
	width: 100%;
}
#main .pen_article header .entry-meta {
	opacity: 0.75;
}
#main .pen_article.pen_list_header_center header .entry-meta,
body.pen_content_header_center #main .pen_article header .entry-meta {
	text-align: center;
	margin: 1rem auto 0;
	width: 100%;
}
#main .pen_article .entry-meta a {
	font-weight: bold;
	text-decoration: none;
}
#main .pen_article .entry-meta > span {
	position: relative;
}
#main .pen_article header span.byline,
#main .pen_article header span.posted-on {
	white-space: nowrap;
}
#main .pen_article header span.byline,
#main .pen_article header span.posted-on,
#main .pen_article header span.cat-links {
	display: inline-block;
	line-height: 1.3;
	margin: 1rem 0 0;
}
#main .pen_article .entry-meta > span:after {
	background: -ms-linear-gradient(270deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.75) 50%, rgba(0,0,0,0) 100%);
	background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.75) 50%, rgba(0,0,0,0) 100%);
	content: '';
	display: inline-block;
	min-height: 1em;
	margin: 0 0.5rem 0 0.75rem;
	speak: none;
	transform: rotate(-20deg);
	width: 1px;
	vertical-align: sub;
}
#main .pen_article .entry-meta > span:last-child:after {
	display: none;
}
.archive-description {
	float: left;
	font-size: 0.857em;
	margin: 0.5rem 0 0;
	padding: 0.5rem 0 0 9rem;
	width: 100%;
}
a.more-link {
	display: block;
	font-weight: bold;
	margin-top: 1rem !important;
	padding: 0.5rem 0;
	text-transform: capitalize;
}
a.more-link:focus,
a.more-link:hover,
a.more-link:active {
	outline: 0 none;
	text-decoration: none;
}
body.pen_list_plain #content a.more-link {
	display: inline-block !important;
	width: auto !important;
}
a.more-link:after {
	content: "\f101";
	font-family: 'FontAwesome';
	margin: 0 0 0 0.5rem;
}
#main .search-form .search-field,
#main .search-form .search-submit {
	font-size: 1em;
	font-weight: normal;
	line-height: 1.5;
}
#main .pen_article .search-form .search-submit {
	margin-left: 10px;
}
#main .pen_content_footer {
	font-size: 0.857em !important;
	position: relative;
}
html.no-js #page .pen_options_overview {
	background: #fff;
	border-top: 1px solid #ddd;
	color: #333 !important;
	float: left;
	padding: 1rem;
	width: 100%;
}
#page .pen_options_overview.pen_off_screen {
	background: #fff;
	color: #333 !important;
	padding: 15px;
	z-index: 200000;
}
body.pen_multiple #page .pen_options_overview {
	display: none;
	transition: top .3s;
}
body.pen_multiple #page .pen_options_overview.pen_visible {
	bottom: 1em;
	display: block;
	left: 5%;
	max-width: 350px;
	position: absolute;
	width: 90%;
}
#page .pen_options_overview h3 {
	background: #333;
	background: -ms-linear-gradient(325deg, #555555 0%, #aaaaaa 100%);
	background: linear-gradient(125deg, #555555 0%, #aaaaaa 100%);
	color: #fff;
	font-size: 1em;
	font-weight: normal;
	margin-top: 0;
	padding: 1rem;
	position: relative;
	text-transform: capitalize;
}
html.js #page .pen_options_overview h3 {
	margin: -15px -15px 0.5rem;
}
#page .pen_options_overview h3:before {
	content: "\f085";
	font-family: 'FontAwesome';
	margin: 0 0.5rem 0 0;
}
#page .pen_options_overview .pen_overview_content_title {
	font-size: 1em;
	margin: 0 0 5px;
}
#page .pen_options_overview .pen_close {
	height: 3em;
	overflow: hidden;
	position: absolute;
	right: 0;
	text-indent: -99999px;
	top: 0;
	width: 3em;
	line-height: 1;
	z-index: 2;
}
#page .pen_options_overview .pen_close:after,
#page .pen_options_overview .pen_close:before {
	border-top: 2px solid #fff;
	content: '';
	position: absolute;
	top: 50%;
	text-indent: 0;
	left: 0.5em;
	text-align: center;
	font-size: 1.286em;
	transform: rotate(45deg);
	width: 1em;
}
body.pen_drop_shadow #page .pen_options_overview .pen_close:after,
body.pen_drop_shadow #page .pen_options_overview .pen_close:before {
	text-shadow: 0 0 3px rgba(0,0,0,0.5);
}
#page .pen_options_overview .pen_close:after {
	transform: rotate(-45deg);
}
#page .pen_options_overview .pen_close:active:after,
#page .pen_options_overview .pen_close:active:before {
	border-color: #c40000;
}
body.pen_multiple #page .pen_options_overview_toggle {
	margin: 0;
	opacity: 0.5;
	overflow: hidden;
	position: relative;
	text-indent: -99999px;
	transition: opacity .3s;
	width: auto;
}
body.pen_round_corners.pen_multiple #page .pen_options_overview_toggle {
	border-radius: 0 3px 0 0;
}
body.pen_multiple #page .pen_options_overview_toggle:before {
	left: 50%;
	position: absolute;
	text-indent: 0;
	top: 50%;
	transform: translate(-50%,-50%);
}
body.pen_multiple #page .pen_options_overview_toggle.pen_visible {
	opacity: 1;
}
#page .pen_options_overview_toggle:before {
	content: "\f085";
	font-family: 'FontAwesome';
	font-weight: normal;
	margin: 0 1rem 0 0;
}
#page .pen_options_overview .pen_table_wrapper {
	float: left;
	max-height: 400px;
	overflow: hidden;
	overflow-y: auto;
	width: 100%;
}
#page .pen_options_overview table {
	box-shadow: none;
	margin: 0 0 1rem;
}
#page .pen_options_overview table th,
#page .pen_options_overview table td {
	background: #fff !important;
	color: #333 !important;
	border: 0 none;
	font-weight: bold;
	padding: 0.5rem;
	text-align: left;
}
#page .pen_options_overview table th {
	background: #efefef !important;
	color: #333;
	font-weight: normal;
	font-size: 1em;
	text-transform: capitalize;
}
#page .pen_options_overview table td {
	font-size: 0.857em;
}
#page .pen_options_overview table td:last-child {
	padding-left: 2rem;
	text-transform: capitalize;
}
#page .pen_options_overview .pen_option_disabled {
	color: #c40000;
}
#page .pen_options_overview .pen_button {
	font-size: 0.857em;
	margin: 0 0 1rem;
}
#main .comments-link a,
#main a.post-edit-link {
	margin-top: 1rem !important;
}
#main .comments-link a:before,
#main a.post-edit-link:before,
#main .pen_content_footer .tags-links .pen_heading_tags:before {
	content: "\f044";
	font-family: 'FontAwesome';
	font-weight: normal;
	margin: 0 1rem 0 0;
}
#main .comments-link a:before {
	content: "\f075";
}
#main .pen_content_footer .tags-links {
	display: block;
}
#main .pen_content_footer .tags-links .pen_heading_tags {
	display: inline-block;
	font-weight: bold;
	margin-right: 1rem;
}
#main .pen_content_footer .tags-links .pen_heading_tags:before {
	content: "\f02c";
	font-weight: normal;
	margin-right: 0.5rem;
}
#main .pen_content_footer .tags-links a {
	display: inline-block;
	float: none;
	font-weight: normal;
	padding: 0.25rem 1rem !important;
	width: auto !important;
}
body.pen_round_corners #main .tags-links a {
	border-radius: 5px;
}
#main .pen_content_footer .pen_actions .tags-links a:last-of-type {
	margin-right: 0 !important;
}
body.pen_list_masonry #main .pen_content_footer span:last-child a {
	margin-bottom: 0 !important;
}
#main .pen_content {
	position: relative;
}
#main .pen_content .pen_content_wrapper.pen_inside a {
	text-decoration: underline;
}
#main .pen_content .pen_content_wrapper.pen_inside a:focus,
#main .pen_content .pen_content_wrapper.pen_inside a:hover,
#main .pen_content .pen_content_wrapper.pen_inside a:active {
	text-decoration: none;
}
#main .post.format-audio > header,
#main .post.format-aside > header,
#main .post.format-gallery > header,
#main .post.format-image > header,
#main .post.format-video > header,
#main .post.format-quote > header,
#main .post.format-link > header,
#main .post.format-status > header,
#main .status-draft > header,
#main .post-password-required > header,
#main .post.sticky > header {
	overflow: hidden;
}
#main .post.format-audio > header:before,
#main .post.format-audio > header:after,
#main .post.format-aside > header:before,
#main .post.format-aside > header:after,
#main .post.format-gallery > header:before,
#main .post.format-gallery > header:after,
#main .post.format-image > header:before,
#main .post.format-image > header:after,
#main .post.format-video > header:before,
#main .post.format-video > header:after,
#main .post.format-quote > header:before,
#main .post.format-quote > header:after,
#main .post.format-link > header:before,
#main .post.format-link > header:after,
#main .post.format-status > header:before,
#main .post.format-status > header:after,
#main .status-draft > header:before,
#main .status-draft > header:after,
#main .post-password-required > header:before,
#main .post-password-required > header:after,
#main .post.sticky > header:before,
#main .post.sticky > header:after {
	color: rgba(170,170,170,0.3);
	font-family: 'FontAwesome';
	font-size: 5em;
	position: absolute;
	right: 20px;
	top: 50%;
	transform: translateY(-50%);
	z-index: 1;
}
#main .post.format-audio > header:before,
#main .post.format-aside > header:before,
#main .post.format-gallery > header:before,
#main .post.format-image > header:before,
#main .post.format-video > header:before,
#main .post.format-quote > header:before,
#main .post.format-link > header:before,
#main .post.format-status > header:before,
#main .status-draft > header:before,
#main .post-password-required > header:before,
#main .post.sticky > header:before {
	font-size: 15em;
	opacity: 0.4;
	right: -30px;
}
body.pen_list_masonry.pen_multiple #main header:after {
	display: none;
}
#main .post.format-audio > header:before,
#main .post.format-audio > header:after {
	content: "\f1c7";
}
#main .post.format-aside > header:before,
#main .post.format-aside > header:after {
	content: "\f0f6";
}
#main .post.format-gallery > header:before,
#main .post.format-gallery > header:after,
#main .post.format-image > header:before,
#main .post.format-image > header:after {
	content: "\f03e";
}
#main .post.format-video > header:before,
#main .post.format-video > header:after {
	content: "\f1c8";
}
#main .post.format-quote > header:before,
#main .post.format-quote > header:after {
	content: "\f10e";
}
#main .post.format-link > header:before,
#main .post.format-link > header:after {
	content: "\f0c1";
}
#main .post.format-status > header:before,
#main .post.format-status > header:after {
	content: "\f118";
}
#main .post-password-required > header:before,
#main .post-password-required > header:after {
	content: "\f023";
}
#main .status-draft > header:before,
#main .status-draft > header:after {
	content: "\f06e";
}
#main .post.sticky > header:before,
#main .post.sticky > header:after {
	content: "\f005";
}
@media only screen and (min-width:728px) {
	#main .pen_share h4 {
		border: 0 none !important;
		clip: rect(1px,1px,1px,1px);
		clip: rect(1px 1px 1px 1px);
		height: 1px !important;
		margin: 0 !important;
		overflow: hidden !important;
		padding: 0 !important;
		position: absolute !important;
		width: 1px !important;
	}
	#main .pen_article .entry-meta {
		float: left;
		margin: 0.5rem 0 0;
		width: 100%;
	}
	body.pen_multiple.pen_list_effect_fade .pen_article_wrapper .pen_article,
	body.pen_multiple.pen_list_effect_enlarge .pen_article_wrapper .pen_article,
	body.pen_multiple.pen_list_effect_enlarge_fade .pen_article_wrapper .pen_article {
		transition: box-shadow .5s, opacity .5s, transform .3s;
	}
	body.pen_multiple.pen_list_effect_fade .pen_article_wrapper:hover .pen_article,
	body.pen_multiple.pen_list_effect_enlarge_fade .pen_article_wrapper:hover .pen_article {
		opacity: 0.75;
	}
	body.pen_multiple.pen_list_effect_enlarge .pen_article_wrapper .pen_article:hover,
	body.pen_multiple.pen_list_effect_enlarge_fade .pen_article_wrapper .pen_article:hover {
		transform: scale(1.04,1.04) !important;
		z-index: 10000;
	}
	body.pen_drop_shadow.pen_multiple.pen_list_effect_enlarge .pen_article_wrapper .pen_article:hover,
	body.pen_drop_shadow.pen_multiple.pen_list_effect_enlarge_fade .pen_article_wrapper .pen_article:hover {
		box-shadow: 0 0 25px rgba(0,0,0,0.4), 5px 5px 15px rgba(0,0,0,0.5);
	}
	body.pen_multiple.pen_list_effect_fade .pen_article_wrapper:hover .pen_article:hover,
	body.pen_multiple.pen_list_effect_enlarge_fade .pen_article_wrapper:hover .pen_article:hover {
		opacity: 1;
	}
	body.pen_singular #page .pen_options_overview.pen_off_screen {
		min-width: 250px;
		position: fixed;
		right: -100%;
		top: 50%;
		transition: right .3s;
		transform: translateY(-50%);
	}
	body.pen_header_sticky.pen_singular #page .pen_options_overview_toggle,
	body.pen_header_sticky.pen_singular #page .pen_options_overview.pen_off_screen {
		bottom: 1em;
		top: auto;
		transform: none;
	}
	body.pen_singular #page .pen_options_overview.pen_visible {
		right: 0;
	}
	body.pen_singular #page .pen_options_overview_toggle {
		padding: 1rem 5rem 1rem 2rem !important;
		position: fixed;
		right: -100%;
		top: 50%;
		transform: translateY(-50%);
		transition: right .3s;
		width: auto;
		z-index: 100000;
	}
	body.pen_singular.pen_drop_shadow #page .pen_options_overview_toggle {
		box-shadow: 0 0 10px rgba(0,0,0,0.5);
	}
	body.pen_singular #page .pen_options_overview_toggle.pen_visible {
		right: -3em;
	}
	#main .pen_content_footer .entry-meta {
		font-size: 1em;
		line-height: 2;
		margin: 2rem 0 0;
		text-align: right;
	}
	#main .pen_content_footer .entry-meta .byline,
	#main .pen_content_footer .entry-meta .posted-on,
	#main .pen_content_footer .entry-meta .cat-links {
		display: inline-block;
	}
	body.pen_singular #main .pen_content_footer .entry-meta,
	body.pen_list_plain #main .pen_content_footer .entry-meta {
		float: right;
		text-align: right;
		width: auto;
	}
	body.pen_list_masonry #main .pen_content_footer .entry-meta {
		margin: 2rem 0 0;
		text-align: center;
	}
	#main .pen_content_footer .pen_actions a {
		margin: 1rem 1rem 0 0 !important;
		width: auto !important;
	}
	body.pen_list_masonry #pen_masonry .comments-link,
	body.pen_list_masonry #pen_masonry .comments-link a,
	body.pen_list_masonry #pen_masonry .edit-link a.post-edit-link {
		width: 100% !important;
	}
	body.pen_list_masonry #pen_masonry .comments-link:first-child a,
	body.pen_list_masonry #pen_masonry .edit-link:first-child a.post-edit-link {
		margin-top: 0 !important;
	}
}
@media only screen and (min-width:728px) and (max-width:1024px) {
	#main header .pen_content_title {
		font-size: 1.5em;
	}
}
@media only screen and (max-width:728px) {
	body.pen_list_masonry #pen_masonry .pen_article {
		margin: 0 0 1rem !important;
	}
	#main img.alignleft,
	#main img.aligncenter,
	#main img.alignright {
		height: auto;
		margin: 1rem 0;
		width: 100%;
	}
	#main .pen_article header .pen_content_title {
		width: 100%;
	}
	#main .pen_article .entry-meta {
		float: left;
		width: 100%;
	}
	#main .pen_content_header .pen_share h4 {
		border: 0 none !important;
		clip: rect(1px,1px,1px,1px);
		clip: rect(1px 1px 1px 1px);
		height: 1px !important;
		margin: 0 !important;
		overflow: hidden !important;
		padding: 0 !important;
		position: absolute !important;
		width: 1px !important;
	}
	#main .pen_content_footer .pen_share h4 {
		font-size: 1.5em;
		text-align: center;
		text-transform: capitalize;
	}
	body.pen_singular #page .pen_options_overview {
		display: none;
		transition: top .3s;
	}
	body.pen_singular #page .pen_options_overview.pen_visible {
		bottom: 1em;
		display: block;
		left: 5%;
		position: absolute;
		width: 90%;
	}
	body.pen_singular #page .pen_options_overview_toggle {
		margin: 0;
		opacity: 0.5;
		overflow: hidden;
		position: relative;
		text-indent: -99999px;
		transition: opacity .3s;
		width: auto;
	}
	body.pen_round_corners.pen_singular #page .pen_options_overview_toggle {
		border-radius: 0 3px 0 0;
	}
	body.pen_singular #page .pen_options_overview_toggle:before {
		left: 50%;
		position: absolute;
		text-indent: 0;
		top: 50%;
		transform: translate(-50%,-50%);
	}
	body.pen_singular #page .pen_options_overview_toggle.pen_visible {
		opacity: 1;
	}
}
body.pen_list_header_hide #main .pen_article header.pen_element_default,
#main .pen_article header.pen_list_header_hide.pen_element_default,
body.pen_list_title_hide #main .pen_article header h2.pen_content_title.pen_element_default,
#main .pen_article.pen_list_title_hide header h2.pen_content_title.pen_element_default,
body.pen_list_author_hide #main .pen_article .byline.pen_element_default,
#main .pen_article.pen_list_author_hide .byline.pen_element_default,
body.pen_list_date_hide #main .pen_article .posted-on.pen_element_default,
#main .pen_article.pen_list_date_hide .posted-on.pen_element_default,
body.pen_list_category_hide #main .pen_article .cat-links.pen_element_default,
#main .pen_article.pen_list_category_hide .cat-links.pen_element_default,
body.pen_list_thumbnail_hide #main .pen_article .pen_image_thumbnail,
#main .pen_article.pen_list_thumbnail_hide .pen_image_thumbnail,
body.pen_list_summary_hide #main .pen_article .pen_content.pen_element_default,
#main .pen_article.pen_list_summary_hide .pen_content.pen_element_default,
body.pen_list_footer_hide #main .pen_article .pen_content_footer.pen_element_default,
#main .pen_article.pen_list_footer_hide .pen_content_footer.pen_element_default,
body.pen_list_tags_hide #main .pen_article .tags-links.pen_element_default,
#main .pen_article.pen_list_tags_hide .tags-links.pen_element_default,
body.pen_list_button_comment_hide #main .pen_article .comments-link.pen_element_default,
#main .pen_article.pen_list_button_comment_hide .comments-link.pen_element_default,
body.pen_list_button_edit_hide #main .pen_article .edit-link.pen_element_default,
#main .pen_article.pen_list_button_edit_hide .edit-link.pen_element_default,
body.pen_singular.pen_content_header_hide #main .pen_article header,
body.pen_singular.pen_content_title_hide #main .pen_article header h2.pen_content_title,
body.pen_singular.pen_content_author_hide #main .pen_article .byline,
body.pen_singular.pen_content_date_hide #main .pen_article .posted-on,
body.pen_singular.pen_content_category_hide #main .pen_article .cat-links,
body.pen_singular.pen_content_thumbnail_hide #main .pen_article .pen_image_thumbnail,
body.pen_singular.pen_content_share_hide #main .pen_article .pen_share,
body.pen_singular.pen_content_footer_hide #main .pen_article .pen_content_footer,
body.pen_singular.pen_content_tags_hide #main .pen_article .tags-links {
	border: 0 none !important;
	clip: rect(1px,1px,1px,1px);
	clip: rect(1px 1px 1px 1px);
	height: 1px !important;
	margin: 0 !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
}
