#content .sidebar ul,
#content .sidebar ol {
	float: left;
	margin: 0;
	padding: 0 0 0 2rem;
	width: 100%;
}
#content .sidebar .widget {
	float: left;
	font-size: 0.857em;
	margin: 0 0 1rem;
	width: 100%;
}
#content .sidebar .widget a:focus,
#content .sidebar .widget a:hover,
#content .sidebar .widget a:active {
	text-decoration: none;
}
#content .sidebar .widget:last-child {
	margin-bottom: 0;
}
#page .widget-area .widget {
	position: relative;
}
#page .widget-area .widget > div,
#page .widget-area .widget select,
#page .widget-area .widget textarea {
	float: left;
	width: 100%;
}
#page .widget-title {
	-ms-word-break: break-all;
	word-break: break-all;
	word-break: break-word;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
	transition: color .5s;
}
#pen_top .widget-area .widget-title,
#pen_left .widget-area .widget-title,
#pen_right .widget-area .widget-title,
#pen_bottom .widget-area .widget-title {
	color: #fff;
}
#page .widget-area .widget.pen_widget_not_transparent {
	padding: 20px;
	text-shadow: none;
}
#page .widget-area .widget.widget_calendar.pen_widget_not_transparent {
	padding: 10px;
}
body.pen_drop_shadow #page .widget-area .widget.pen_widget_not_transparent {
	box-shadow: 0 5px 10px rgba(0,0,0,0.25), 0 0 5px rgba(0,0,0,0.25);
}
body.pen_round_corners #page .widget-area .widget.pen_widget_not_transparent {
	border-radius: 5px;
}
#page .widget-area .widget.pen_widget_not_transparent .widget-title {
	border-bottom: 1px solid rgba(0,0,0,0.2);
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	cursor: default;
	margin: -20px -20px 1rem;
	padding: 14px 1rem;
}
body.pen_round_corners #page .widget-area .widget.pen_widget_not_transparent .widget-title {
	border-radius: 5px 5px 0 0;
}
#page .widget-area .widget.pen_widget_transparent input::-webkit-input-placeholder {
	color: rgba(255,255,255,0.75);
}
#page .widget-area .widget.pen_widget_transparent input::-moz-placeholder {
	color: rgba(255,255,255,0.75);
}
#page .widget-area .widget.pen_widget_transparent input:-ms-input-placeholder {
	color: rgba(255,255,255,0.75);
}
#page .widget-area .widget.pen_widget_blue {
	background: #2b8fd2;
	color: #ddf1ff;
}
#page .widget-area .widget.pen_widget_blue .widget-title {
	background: -ms-linear-gradient(325deg, #1a7dbd 0%, #2b8fd2 100%);
	background: linear-gradient(125deg, #1a7dbd 0%, #2b8fd2 100%);
	box-shadow: 0 0 5px rgba(0,0,0,0.15), 0 1px 0 rgba(255,255,255,0.01) inset;
	color: #fff;
}
body.pen_drop_shadow #page .widget-area .widget.pen_widget_blue .widget-title {
	text-shadow: 1px 1px 0 rgba(0,0,0,0.75);
}
#page .widget-area .widget.pen_widget_blue input,
#page .widget-area .widget.pen_widget_blue option,
#page .widget-area .widget.pen_widget_blue select,
#page .widget-area .widget.pen_widget_blue textarea {
	background: #1a7dbd;
	border: 1px solid rgba(155,155,155,0.2);
	color: #fff;
}
#page .widget-area .widget.pen_widget_blue a {
	color: #bfeeff;
}
#page .widget-area .widget.pen_widget_blue a:focus,
#page .widget-area .widget.pen_widget_blue a:hover,
#page .widget-area .widget.pen_widget_blue a:active {
	color: #fff;
}
#page .widget-area .widget.pen_widget_dark {
	background: rgba(0,0,0,0.95);
	color: #fefefe;
}
#page .widget-area .widget.pen_widget_dark .widget-title {
	background: -ms-linear-gradient(325deg, #0f0f0f 0%, #202020 100%);
	background: linear-gradient(125deg, #0f0f0f 0%, #202020 100%);
	border-bottom: 1px solid rgba(255,255,255,0.1);
	box-shadow: 0 0 5px rgba(0,0,0,0.15), 0 1px 0 rgba(255,255,255,0.01) inset;
	color: #fff;
}
body.pen_drop_shadow #page .widget-area .widget.pen_widget_dark .widget-title {
	text-shadow: 1px 1px 0 rgba(0,0,0,0.75);
}
#page .widget-area .widget.pen_widget_dark input,
#page .widget-area .widget.pen_widget_dark option,
#page .widget-area .widget.pen_widget_dark select,
#page .widget-area .widget.pen_widget_dark textarea {
	background: #333;
	border: 1px solid rgba(155,155,155,0.2);
	color: #fff;
}
#page .widget-area .widget.pen_widget_dark a {
	color: #eee;
}
#page .widget-area .widget.pen_widget_dark a:focus,
#page .widget-area .widget.pen_widget_dark a:hover,
#page .widget-area .widget.pen_widget_dark a:active {
	color: #fff;
}
#page .widget-area .widget.pen_widget_light {
	background: rgba(255,255,255,0.95);
	color: #333;
}
#page .widget-area .widget.pen_widget_light .widget-title {
	background: -ms-linear-gradient(325deg, rgba(255,255,255,1) 0%, rgba(240,240,240,0.75) 100%);
	background: linear-gradient(125deg, rgba(255,255,255,1) 0%, rgba(240,240,240,0.75) 100%);
	border-bottom: 1px solid rgba(200,200,200,0.5);
	color: #333;
}
body.pen_drop_shadow #page .widget-area .widget.pen_widget_light .widget-title {
	text-shadow: 1px 1px 0 rgba(255,255,255,0.75);
}
#page .widget-area .widget.pen_widget_light input,
#page .widget-area .widget.pen_widget_light option,
#page .widget-area .widget.pen_widget_light select,
#page .widget-area .widget.pen_widget_light textarea {
	background: #fff;
	border: 1px solid rgba(155,155,155,0.5);
	color: #333;
}
#page .widget-area .widget.pen_widget_light a {
	color: #0087cc;
}
#page .widget-area .widget.pen_widget_light a:focus,
#page .widget-area .widget.pen_widget_light a:hover,
#page .widget-area .widget.pen_widget_light a:active {
	color: #18b1e7;
}
#page .widget-area .widget.pen_widget_orange {
	background: #ff7500;
	color: #333;
}
#page .widget-area .widget.pen_widget_orange .widget-title {
	background: -ms-linear-gradient(325deg, #ff5a00 0%, #ffa50f 100%);
	background: linear-gradient(125deg, #ff5a00 0%, #ffa50f 100%);
	box-shadow: 0 0 5px rgba(0,0,0,0.15), 0 1px 0 rgba(255,255,255,0.01) inset;
	color: #fff;
}
body.pen_drop_shadow #page .widget-area .widget.pen_widget_orange .widget-title {
	text-shadow: 1px 1px 0 rgba(0,0,0,0.75);
}
#page .widget-area .widget.pen_widget_orange input,
#page .widget-area .widget.pen_widget_orange option,
#page .widget-area .widget.pen_widget_orange select,
#page .widget-area .widget.pen_widget_orange textarea {
	background: #ffa50f;
	border: 1px solid rgba(155,155,155,0.2);
	color: #fff;
}
#page .widget-area .widget.pen_widget_orange a {
	color: #ffeee4;
}
#page .widget-area .widget.pen_widget_orange a:focus,
#page .widget-area .widget.pen_widget_orange a:hover,
#page .widget-area .widget.pen_widget_orange a:active {
	color: #fff;
}
#page .widget-area .widget.pen_widget_purple {
	background: #7200cf;
	color: #fff;
}
#page .widget-area .widget.pen_widget_purple .widget-title {
	background: -ms-linear-gradient(325deg, #43008c 0%, #6700d7 100%);
	background: linear-gradient(125deg, #43008c 0%, #6700d7 100%);
	box-shadow: 0 0 5px rgba(0,0,0,0.15), 0 1px 0 rgba(255,255,255,0.01) inset;
	color: #fff;
}
body.pen_drop_shadow #page .widget-area .widget.pen_widget_purple .widget-title {
	text-shadow: 1px 1px 0 rgba(0,0,0,0.75);
}
#page .widget-area .widget.pen_widget_purple input,
#page .widget-area .widget.pen_widget_purple option,
#page .widget-area .widget.pen_widget_purple select,
#page .widget-area .widget.pen_widget_purple textarea {
	background: #4c0a93;
	border: 1px solid rgba(155,155,155,0.2);
	color: #fff;
}
#page .widget-area .widget.pen_widget_purple a {
	color: #f5ecfc;
}
#page .widget-area .widget.pen_widget_purple a:focus,
#page .widget-area .widget.pen_widget_purple a:hover,
#page .widget-area .widget.pen_widget_purple a:active {
	color: #fff;
}
#page .widget-area .widget.pen_widget_red {
	background: #e74c3c;
	color: #ffecea;
}
#page .widget-area .widget.pen_widget_red .widget-title {
	background: -ms-linear-gradient(325deg, #c0392b 0%, #e74c3c 100%);
	background: linear-gradient(125deg, #c0392b 0%, #e74c3c 100%);
	box-shadow: 0 0 5px rgba(0,0,0,0.15), 0 1px 0 rgba(255,255,255,0.01) inset;
	color: #fff;
}
body.pen_drop_shadow #page .widget-area .widget.pen_widget_red .widget-title {
	text-shadow: 1px 1px 0 rgba(0,0,0,0.75);
}
#page .widget-area .widget.pen_widget_red input,
#page .widget-area .widget.pen_widget_red option,
#page .widget-area .widget.pen_widget_red select,
#page .widget-area .widget.pen_widget_red textarea {
	background: #c0392b;
	border: 1px solid rgba(155,155,155,0.2);
	color: #fff;
}
#page .widget-area .widget.pen_widget_red a {
	color: #ffeaea;
}
#page .widget-area .widget.pen_widget_red a:focus,
#page .widget-area .widget.pen_widget_red a:hover,
#page .widget-area .widget.pen_widget_red a:active {
	color: #fff;
}
#page .widget-area .widget.pen_widget_yellow {
	background: #ffd800;
	color: #333;
}
#page .widget-area .widget.pen_widget_yellow .widget-title {
	background: -ms-linear-gradient(325deg, #ffbd00 0%, #ffea00 100%);
	background: linear-gradient(125deg, #ffbd00 0%, #ffea00 100%);
	box-shadow: 0 0 5px rgba(0,0,0,0.15), 0 1px 0 rgba(255,255,255,0.01) inset;
	color: #333;
}
body.pen_drop_shadow #page .widget-area .widget.pen_widget_yellow .widget-title {
	text-shadow: 1px 1px 0 rgba(255,255,255,0.5);
}
#page .widget-area .widget.pen_widget_yellow input,
#page .widget-area .widget.pen_widget_yellow option,
#page .widget-area .widget.pen_widget_yellow select,
#page .widget-area .widget.pen_widget_yellow textarea {
	background: #ffea00;
	border: 1px solid rgba(155,155,155,0.2);
	color: #333;
}
#page .widget-area .widget.pen_widget_yellow a {
	color: #555;
}
#page .widget-area .widget.pen_widget_yellow a:focus,
#page .widget-area .widget.pen_widget_yellow a:hover,
#page .widget-area .widget.pen_widget_yellow a:active {
	color: #000;
}
#page .widget-area .widget_tag_cloud .tagcloud a,
#page .widget-area .widget_product_tag_cloud .tagcloud a {
	display: inline-block;
	margin: 0 5px 0 0;
	position: relative;
	transition: transform .3s;
	transform: scale(0.9,0.9);
	-webkit-transform-style: preserve-3d;
	-webkit-backface-visibility: hidden;
}
#page .widget-area .widget_tag_cloud .tagcloud a:focus,
#page .widget-area .widget_tag_cloud .tagcloud a:hover,
#page .widget-area .widget_product_tag_cloud .tagcloud a:focus,
#page .widget-area .widget_product_tag_cloud .tagcloud a:hover {
	transform: scale(1.1,1.1);
}
#page .widget-area .calendar_wrap {
	width: 100%;
}
body.pen_round_corners #page .widget-area .calendar_wrap {
	border-radius: 5px;
	overflow: hidden;
	position: relative;
}
#page .widget-area .calendar_wrap a {
	border: 1px solid rgba(255,255,255,0.1);
	display: block;
	text-shadow: none;
	transition: background-color .3s, border-color .3s;
}
#page .widget-area .calendar_wrap a:focus,
#page .widget-area .calendar_wrap a:hover,
#page .widget-area .calendar_wrap a:active {
	background: rgba(120,120,120,0.3);
	border: 1px solid rgba(255,255,255,0.2);
	color: rgba(255,255,255,0.75);
	text-decoration: none;
}
#page .widget-area .calendar_wrap table {
	background: rgba(0,0,0,0.1);
	border-collapse: collapse;
	margin: 0;
}
#page .widget-area .calendar_wrap caption {
	background: rgba(0,0,0,0.2);
	font-size: 1.286em;
	margin: 0;
	padding: 1rem 0;
	text-transform: uppercase;
}
#page .widget-area .calendar_wrap th,
#page .widget-area .calendar_wrap td {
	padding: 0.4rem;
	line-height: 2;
	text-align: center;
}
#page .widget-area .calendar_wrap th {
	padding: 5px;
}
#page .widget-area .calendar_wrap tbody td {
	font-size: smaller;
	padding: 0;
}
#page .widget-area .calendar_wrap tfoot #next,
#page .widget-area .calendar_wrap tfoot #prev {
	text-align: center;
	text-transform: uppercase;
}
#pen_left #page .widget-area .calendar_wrap caption,
#pen_right #page .widget-area .calendar_wrap caption,
#pen_bottom #page .widget-area .calendar_wrap caption {
	border-bottom: 1px solid #eee;
	border-bottom-color: rgba(255,255,255,0.2);
}
#pen_section .widget-area .widget_search .search-field,
#pen_section .widget-area .widget_search .search-submit {
	font-size: 1em;
	font-weight: normal;
	line-height: 1.5;
	transition: background-color .2s, border-color .2s, color .2s;
}
#pen_section .widget-area .widget_search label {
	float: left;
	width: 65%;
}
#pen_section .widget-area .widget_search label .search-field {
	background: transparent;
	border: 1px solid rgba(170,170,170,0.5);
	color: #eee;
	float: left;
	margin: 0 0 0.25rem;
	max-width: 400px;
	padding: 0.5rem 1rem;
	width: 100%;
}
body.pen_drop_shadow #pen_section .widget-area .widget_search.pen_widget_transparent .search-field {
	box-shadow: 2px 2px 5px rgba(0,0,0,0.25), 2px 2px 5px rgba(0,0,0,0.25) inset;
	text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}
#pen_section .widget-area .widget_search .search-field:focus,
#pen_section .widget-area .widget_search .search-field:hover,
#pen_section .widget-area .widget_search .search-field:active {
	color: #fff;
	text-decoration: none;
}
#pen_section .widget-area .widget_search .search-submit {
	background: #fff;
	border: 1px solid #fff;
	color: #0087cc;
	float: right;
	margin: 0;
	padding: 0.5rem 1rem;
	text-decoration: none;
	width: 35%;
}
body.pen_drop_shadow #pen_section .widget-area .widget_search.pen_widget_transparent .search-submit {
	box-shadow: 2px 2px 5px rgba(0,0,0,0.25);
}
#pen_section .widget-area .widget_search .search-submit:focus,
#pen_section .widget-area .widget_search .search-submit:hover,
#pen_section .widget-area .widget_search .search-submit:active {
	background: #0087cc;
	border-color: #0087cc;
	color: #fff;
	text-decoration: none;
}
#pen_section .widget-area .widget_search.pen_widget_blue .search-submit:focus,
#pen_section .widget-area .widget_search.pen_widget_blue .search-submit:hover,
#pen_section .widget-area .widget_search.pen_widget_blue .search-submit:active {
	background: #0073ae;
	border-color: #0073ae;
}
#pen_section .widget-area .widget_search.pen_widget_dark .search-submit:focus,
#pen_section .widget-area .widget_search.pen_widget_dark .search-submit:hover,
#pen_section .widget-area .widget_search.pen_widget_dark .search-submit:active {
	background: #555;
	border-color: #555;
}
#pen_section .widget-area .widget_search.pen_widget_light .search-submit:focus,
#pen_section .widget-area .widget_search.pen_widget_light .search-submit:hover,
#pen_section .widget-area .widget_search.pen_widget_light .search-submit:active {
	background: #fff;
	border-color: #aaa;
	color: #555;
}
#pen_section .widget-area .widget_search.pen_widget_orange .search-submit:focus,
#pen_section .widget-area .widget_search.pen_widget_orange .search-submit:hover,
#pen_section .widget-area .widget_search.pen_widget_orange .search-submit:active {
	background: #ffc22f;
	border-color: #e1a23b;
}
#pen_section .widget-area .widget_search.pen_widget_purple .search-submit:focus,
#pen_section .widget-area .widget_search.pen_widget_purple .search-submit:hover,
#pen_section .widget-area .widget_search.pen_widget_purple .search-submit:active {
	background: #8e38ef;
	border-color: #8e38ef;
}
#pen_section .widget-area .widget_search.pen_widget_red .search-submit:focus,
#pen_section .widget-area .widget_search.pen_widget_red .search-submit:hover,
#pen_section .widget-area .widget_search.pen_widget_red .search-submit:active {
	background: #a81f11;
	border-color: #a81f11;
}
#pen_section .widget-area .widget_search.pen_widget_yellow .search-submit:focus,
#pen_section .widget-area .widget_search.pen_widget_yellow .search-submit:hover,
#pen_section .widget-area .widget_search.pen_widget_yellow .search-submit:active {
	background: #fff47c;
	color: #333;
}
body.pen_round_corners #pen_section .widget-area .widget_search .search-field {
	border-radius: 5px 0 0 5px;
}
body.pen_round_corners #pen_section .widget-area .widget_search .search-submit {
	border-radius: 0 5px 5px 0;
}
#page .widget.widget_archive li,
#page .widget.widget_nav_menu li,
#page .widget.widget_pages li,
#page .widget.widget_meta li,
#page .widget.widget_recent_entries li,
#page .widget.widget_recent_comments li {
	float: left;
	width: 100%;
	-webkit-transform-style: preserve-3d;
	-webkit-backface-visibility: hidden;
}
#page .widget.widget_archive ul,
#page .widget.widget_archive ul li,
#page .widget.widget_nav_menu ul,
#page .widget.widget_nav_menu ul li,
#page .widget.widget_pages ul,
#page .widget.widget_pages ul li,
#page .widget.widget_meta ul,
#page .widget.widget_meta ul li,
#page .widget.widget_recent_entries ul,
#page .widget.widget_recent_entries ul li,
#page .widget.widget_categories ul,
#page .widget.widget_categories ul li,
#page .widget.widget_recent_comments ul,
#page .widget.widget_recent_comments ul li,
#page .widget.widget_product_categories ul,
#page .widget.widget_product_categories ul li {
	list-style: none;
	list-style-image: none;
	list-style-type: none;
	margin: 0;
	padding: 0;
}
#page .widget.widget_recent_entries ul li:before,
#page .widget.widget_archive ul li:before,
#page .widget.widget_nav_menu ul li:before,
#page .widget.widget_pages ul li:before,
#page .widget.widget_meta ul li:before,
#page .widget.widget_categories ul li:before,
#page .widget.widget_product_categories ul li:before {
	content: "\f101";
	font-family: 'FontAwesome';
	font-weight: normal;
	margin: 0 1rem 0 0;
	opacity: 0.75;
}
#page .widget.widget_recent_entries ul li {
	padding: 0 0 0.5rem 2rem;
	text-indent: -2em;
}
#page .widget.widget_recent_entries ul li:last-child {
	padding-bottom: 0;
}
#page .widget.widget_recent_entries ul li .post-date {
	display: block;
	font-size: 0.857em;
	margin: 0 0 0 2rem;
}
#page .widget.widget_archive ul li,
#page .widget.widget_nav_menu ul li,
#page .widget.widget_pages ul li,
#page .widget.widget_meta ul li,
#page .widget.widget_categories ul li {
	font-size: 1em;
}
#page .widget.widget_archive ul li li,
#page .widget.widget_nav_menu ul li li,
#page .widget.widget_pages ul li li,
#page .widget.widget_meta ul li li,
#page .widget.widget_categories ul li li {
	margin-left: 0.5rem;
}
#page .widget.widget_recent_comments ul li {
	padding: 1rem 1rem 1rem 3.5rem;
	position: relative;
	-webkit-transform-style: preserve-3d;
	-webkit-backface-visibility: hidden;
}
#page .widget.widget_recent_comments ul li:first-child {
	padding-top: 0;
}
#page .widget.widget_recent_comments ul li:last-child {
	padding-bottom: 0;
}
#page .widget.widget_recent_comments ul li:before {
	color: rgba(220,220,220,0.5);
	content: "\f075";
	font-family: 'FontAwesome';
	font-size: 2em;
	left: 0.25em;
	position: absolute;
	text-shadow: none !important;
	top: 50%;
	transform: translateY(-50%);
	transition: color .3s;
}
#page .widget.widget_recent_comments ul li:hover:before {
	color: rgba(220,220,220,0.75);
}
#pen_bottom .widget.widget_recent_comments ul li:before,
#page .widget.widget_recent_comments.pen_widget_dark ul li:before {
	color: rgba(120,120,120,0.2);
}
#pen_bottom .widget.widget_recent_comments ul li:hover:before,
#page .widget.widget_recent_comments.pen_widget_dark ul li:hover:before {
	color: rgba(120,120,120,0.5);
}
#page .widget.widget_recent_comments.pen_widget_blue ul li:before,
#page .widget.widget_recent_comments.pen_widget_orange ul li:before,
#page .widget.widget_recent_comments.pen_widget_purple ul li:before,
#page .widget.widget_recent_comments.pen_widget_red ul li:before,
#page .widget.widget_recent_comments.pen_widget_yellow ul li:before {
	color: rgba(0,0,0,0.3);
}
#page .widget.widget_recent_comments.pen_widget_blue ul li:hover:before,
#page .widget.widget_recent_comments.pen_widget_orange ul li:hover:before,
#page .widget.widget_recent_comments.pen_widget_purple ul li:hover:before,
#page .widget.widget_recent_comments.pen_widget_red ul li:hover:before,
#page .widget.widget_recent_comments.pen_widget_yellow ul li:hover:before {
	color: rgba(0,0,0,0.5);
}
#page .widget.widget_recent_comments ul li:after {
	background: -ms-linear-gradient(0deg, rgba(0,0,0,0.15) 0%, rgba(0,0,0,0.05) 100%);
	background: linear-gradient(90deg, rgba(0,0,0,0.15) 0%, rgba(0,0,0,0.05) 100%);
	bottom: 0;
	content: '';
	height: 1px;
	left: 0;
	position: absolute;
	width: 100%;
}
#page .widget.widget_recent_comments.pen_widget_dark ul li:after {
	background: -ms-linear-gradient(0deg, rgba(255,255,255,0.1) 0%, rgba(255,255,255,0.05) 100%);
	background: linear-gradient(90deg, rgba(255,255,255,0.1) 0%, rgba(255,255,255,0.05) 100%);
}
#page .widget.widget_recent_comments ul li:last-child:after {
	display: none;
}
@media only screen and (max-width:1024px) {
	#pen_section .widget-area .widget_search label {
		width: 52%;
	}
	#pen_section .widget-area .widget_search .search-submit {
		width: 48%;
	}
}